<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>hashy0917 pages</title>
    <script src="src/main.js"></script>
    <link rel="stylesheet" href="src/option.css">

    <!-- BootstrapCDN -->
    <!-- CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- JS -->
    <script crossorigin="anonymous" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script crossorigin="anonymous" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script crossorigin="anonymous" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</head>
<body>
<header class="container-auto">
    <div class="row">
        <div class="col-12">
            <img alt="#!/bin/はっすぃ" class="d-block mx-auto rounded-circle frame"
                 src="https://pbs.twimg.com/profile_images/1150974774979379201/dbopKrur_400x400.jpg"/>
        </div>
    </div>
    <div class="row">
        <a class="col-12 text-center display-1">はっすぃ</a>
    </div>
    <div class="row">
        <div class="col-1">

        </div>
        <div class="col-10 display-4 border">
            <p>都内在住のエンジニア見習い。お仕事募集中。</p>
            <p>インフラの構築、それに関する記事を書いたり、セキュリティに関する事などをやっています。</p>
            <p>最近はIoTやFPGAなんかやってます</p>
        </div>
        <div class="col-1">

        </div>
    </div>
</header>
<main class="container">
    <div class="row text-center">
        <a class="btn col-xl-6 border text-primary" href="https://github.com/hashy0917"><h1>GitHub</h1></a>
        <a class="btn col-xl-6 border text-primary" href="https://hashy0917.wordpress.com"><h1>Blog</h1></a>
    </div>
    <div class="row text-center">
        <a class="btn col-xl-6 border text-primary" href="https://twitter.com/hashy0917"><h1>Twitter</h1></a>
        <a class="btn col-xl-6 border text-primary" href="./links.html"><h1>etc...</h1></a>
    </div>
</main>
<footer class="container-auto">
    <div class="row-auto">
        <a class="col-auto">投げ銭リンク</a>

    </div>
    <div class="row-auto">
        <a class="col-4" href="https://www.amazon.jp/hz/wishlist/ls/8AIG605MOV4A?ref_=wl_share">Amazon欲しい物リスト</a>
        <a class="col-4" href="https://kyash.me/payments/sQSUxToF17RV1TJb7rBqDjteoQpy">Kyash 500円</a>
    </div>
</footer>
<nav>

</nav>
</body>
</html>
